.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: grey
}

.navbar__item {
    margin: 0 5em;
    padding: 0.5em 1em;
    border: 4px solid darkblue;
    border-radius: 0.25rem;
}

.navbar-button {
    text-decoration: none;
    color: inherit;
}

.delete-button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}